
<!doctype html>
<html>
<head>
    <title>Poll - <%=poll.title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
        .chart { float: left; width: 300px; }
    </style>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>    
    <script language="JavaScript" type="text/javascript" src="main.js"></script>
<script>
window.onload = function() {
    if (window.jQuery) {  
        // jQuery is loaded  
       //alert("Yeah!");
      $(document).ready(function() {
         //alert("Yeah!");     
   $('.choice_input').change(function(){
       //alert("Yeah!"); 
    if( $(this).val() === '1'){
        $('.form-group').append('<input name="choice_input" type="text" />');
        $('.form-group').append('<button name="add_option" value="1" class="btn btn-warning btn-lg btnAdd">Add New Option</button>');
    }
});

$(".btnAdd").click(function(){
        var opt = $(".choice_input").val();
        $("select").append('<option value="' + opt + '">' + opt +'</option>')
    });
    
});
    } else {
        // jQuery is not loaded
      //  alert("Doesn't Work");
    }
}
</script>
</head>
<body>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa"></span> My Poll Aggregate Results Page</h1>
    </div>

    <div class="row">

        <!-- INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
        <a href="/" class="btn btn-default"><span class="fa fa-user"></span> Home</a>       
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>        
                <h3><span class="fa"></span>View All Polls</h3>

                    <p>
                        <B> POLLS: </B>
                    </p>
<h2>Data: <%= poll %></h2>


<ul>
  <pre> Results of Total Aggregate : <%- JSON.stringify(poll) %> </pre>
</ul>
<ul>
<% for(var i=0; i<poll.length; i++) {%>
  <li><b>"Poll info" :</b>"<%= poll[i] %>"</li>   
   <li><b>"url" :</b>"<%= poll[i]._id %>"</li>   
   <li><b>"Poll Title" :</b>"<%= poll[i].count %>"</li>
<% 
}
%>
</ul>   
<%if (error =="") { %>

<% }else{ %>
<li><b style="color: red;"><%=error %></b></li>
<% } %>
</ul>
            </div>
        </div>

    </div>
    
</div>
</body>
</html>